%div#new_stock

%div#chart

%div.row
  %div.large-4.columns
    %div#cell
      %div.float
        = link_to('Buy', new_stock_path, :remote => true, :class => 'button radius tiny alert')
      %div.float
        - @symbols.each do |t|
          = t.upcase
          = check_box_tag(t,  t, :class => 'show_chart')

    %div.clear
  %div.large-8.columns

%ol#stocks
  = render(:partial => 'stocks')

