#chart {
	width: 600px;
}

.tip {
	background-color: #31628a;
	border-radius: 7px;
	color: #f9e4ce;
	text-align: center;
	padding-left: 10px;
	box-shadow: 5px 5px 5px grey;
}

.raider {
	border-radius: 7px;
	color: #ffdcb6;
	text-align: left;
}

body {
	background-image: url('glass3.png');
/*	background-size: cover;*/
	/*background-position: center;*/
	color: #235377;
}

.transbox {
	width: 700px;
	height: 300px;
	background-color: #ffffff;
	opacity: 0.75;
	border-radius: 4px;
}

.tty {
	color: #000000;
}
/*.navbutton {
	@include button($bg: #0fa3a0);
}
*/
/*.row {
	min-width: 80%;
}*/
