#chart {
	width: 500px;
}

.tip {
	background-color: #ce454c;
	border-radius: 7px;
	color: #fae9ce;
	text-align: center;
}

.raider {
	border-radius: 7px;
	color: #fae9ce;
	text-align: left;
}

/*.row {
	min-width: 80%;
}*/
