<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; S Hui</p>
      </div>
      <div class="large-9 columns">
        <ul class="inline-list right">
          <li><a href="https://en.wikipedia.org/wiki/Keynesian_economics">Keynesian Economics</a></li>
          <li><a href="http://en.wikipedia.org/wiki/Supply-side_economics">Supply-side Economics</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Fiscal_Illusion">Fiscal Illusion</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Economic_stagnation">Economic Stagnation</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>